# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://mzcydbxztotigdubrabb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im16Y3lkYnh6dG90aWdkdWJyYWJiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzMTYxMDMsImV4cCI6MjEwNDg5MjEwM30.cd9nk2c7h1SZ6pSV72Xo_Wees5yICK6qbBLHObkFVs4

# Site Configuration
NEXT_PUBLIC_SITE_URL=https://aftertrials.com
